# Xcode / Swift
.DS_Store
build/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/contents.xcworkspacedata
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
*.xcuserstate
xcuserdata/
*.xcresult

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Binary / IPA
*.ipa
*.app
Payload/

# Temporary / OS
*.swp
*~
Thumbs.db
